@import '../../Domino';

.gallery-slider {
    .gallery-container {
        overflow-x: hidden;
        .slide-group {
            transition: translate .7s ease-in-out;
            display: flex;
            align-items: flex-start;
            position:relative;

            img {
                display: inline;
            }
        }
    }
    .gallery-nav {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-top:10px;
        .slide-item {
            transition: all .2s ease-in-out;
            font-size: 50px;
            transform: scale(1.5);
            padding: 5px 10px 0 10px;
            cursor: pointer;
            &.unselected {
                opacity: .4;
                color: $base-light-green;
            }
            &.selected {
                // font-size: 70px;
                color: $base-green;
                transform: scale(2);
            }
        }
    }
}